/* Navbar.module.css */
p.paragraph {
  line-height: 30px;
}
.navbaractive {
  background-color: white;
  transition: background-color 0.4s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.navbarinactive {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  transition: background-color 0.4s ease;
  color: white;
}

.primarycolor {
  background-color: #3a249c;
}
